<div class="hero__container">
  <div class="hero__left">
    <h1>Make Yourself better everyday</h1>
    <h2>Detox yourself with better you</h2>
    <%= link_to 'Get started',signup_path,class:'btn'%> 
         
  </div>

  <div class="hero__right">
    <%= image_tag 'https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiMZbYwcBXbsL3OOaJDXITxbQvQZIHO3684FOEgjkbJ9hnYUdqmvLqvuc8tcOXFpi-nVMUhLYu2-oPPgkpIZVJdtRmXFB5sYTtTMV5_RfZZRnl-yw4Q7ZvtTqRamWWTcVPo9JyqxuPjEuUy56rzrx4439xCKzm31dd_p7HD-8Qhvd9FMiEYBJEQOPUM/s16000/hero.jpg' ,class:'hero__img'%>
  </div>


</div>
  
<div class="hero__container_mobile">
  <div class="hero__up__mobile">
    <h1>Make Your self better everyday</h1>
    <h2>Detox yourself with better you</h2>
    <%= link_to 'Get started',signup_path,class:'btn'%> 
         
  </div>

  <div class="hero__down__mobile">
    <%= image_tag 'https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiMZbYwcBXbsL3OOaJDXITxbQvQZIHO3684FOEgjkbJ9hnYUdqmvLqvuc8tcOXFpi-nVMUhLYu2-oPPgkpIZVJdtRmXFB5sYTtTMV5_RfZZRnl-yw4Q7ZvtTqRamWWTcVPo9JyqxuPjEuUy56rzrx4439xCKzm31dd_p7HD-8Qhvd9FMiEYBJEQOPUM/s16000/hero.jpg' ,class:'hero__img__mobile'%>
  </div>


</div>

<div class=" hero__container_mobile seec__mobile">
  <div class="hero__up__mobile sec__hero__up">
       <h1>Get Challenges everyday</h1>
    <h2>everyday you will get a new challenge <br> and based on that challenge you will get points</h2>
  </div>

    <div class="hero__down__mobile sec__hero__down">
       <%= image_tag 'https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgDHFwws3E_BRkwYeMHxG4urx6iKLBStT_YDo0JLYUTN35BwBNvpVPa5OCfT59h2nH0KiEHg4mQmxMOeypiVyj2PlzFzw-cpzcfIB28_nJd5-1LBCUAitDaQ6P47LvvwSSsnc9WmfzYW9l5JPFO6hG59D_4QZkBtP0RGwZ6070xJlnANdkh56q7u-oJ/s16000/chal.png' ,class:'hero__img__mobile sec_hero_img__mobile'%>
    </div>
</div>

<div class="second__hero hero__container">
  <div class="second__heroleft hero__left">
       <h1>Get Challenges everyday</h1>
    <h2>everyday you will get a new challenge <br> and based on that challenge you will get points</h2>
  </div>

    <div class="second__heroright hero__right">
       <%= image_tag 'https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgDHFwws3E_BRkwYeMHxG4urx6iKLBStT_YDo0JLYUTN35BwBNvpVPa5OCfT59h2nH0KiEHg4mQmxMOeypiVyj2PlzFzw-cpzcfIB28_nJd5-1LBCUAitDaQ6P47LvvwSSsnc9WmfzYW9l5JPFO6hG59D_4QZkBtP0RGwZ6070xJlnANdkh56q7u-oJ/s16000/chal.png' ,class:'hero__img sec_hero_img'%>
    </div>
</div>
  