<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name,required:true %> <br>
  <br>
  <%= f.label :username %><br>
  <%= f.text_field :username,required:true %> <br>
  <br>
  <%= f.label :email %><br>
  <%= f.email_field :email,required:true %> <br>
 <br>
  <%= f.label :password %><br>
  <%= f.password_field :password,required:true %> <br>
 <br>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation,required:true %> <br>
 <br>
  <%= f.label :show_name %><br>
  <%= f.radio_button :show_name,false,required:true%> I don't want to show my name <br>
  <%= f.radio_button :show_name,true,required:true%> I can show my name <br>
  <br>
  <%= f.submit 'Update your info' %>
<% end -%>
