<div class="show__container">
	<% if User.find(params[:id]).eql?(current_user) %>
		
	<div class="show__right__section">
		<div class="info__table">
			<table class="table">
			  <tr>
			    <td><%= link_to 'Edit account',edit_user_path(params[:id]) %></td>
			   </tr>
			  <tr>
			  	<% if @is_show_name.show_name %>
				    <td><%= link_to 'Hide your name' ,hidename_path,method: :post%></td>
			    <% else %>
				    <td><%= link_to 'Show your name' ,hidename_path,method: :post%></td>
			  		
			  	<% end %>
			    
			  </tr>
			</table>
		</div>
	</div>
	<% else %>
		<div class="show__right__section no__show">
		<div class="info__table">
		</div>
	</div>
	<% end %>


	<div class="show__left__section">
		<div class="user_info_container">

			<% if @user.gender.eql?('MALE') %>
				<%= image_tag 'boy.jpg',alt:'icon',class:'profile__img'	%>
				<% else %>
				<%= image_tag 'girl.jpg',alt:'icon',class:'profile__img'	%>
				
			<% end %>
				<% if @is_show_name.show_name %>
					
					<p>@<%= @user.username %></p>
					<h2><%= @user.name.capitalize %></h2>
					<p><%= @user.email %></p>
				<% else %>
					<% if User.find(params[:id]).eql?(current_user) %>
							<span class="badge small-badge">Your name is hidden</span>

							<p>@<%= @user.username %></p>
							<h2><%= @user.name.capitalize %></h2>
							<p><%= @user.email %></p>
					<% else %>
						<h2>Anonymous</h2>
					<% end %>

				<% end %>
			<span class="badge points">Points: <%= @user.points %></span>

		</div>
	</div>


</div>