<% up=UserPoint.find_by user:current_user %>
<div class="sidepanel hide" id="showside">
  <% if logged_in? %>
   <span> <%= link_to 'Your Profile' ,current_user%></span>     
  <% end %>
  <span> <%= link_to "Explore",explore_path %> </span>
  <span><%= link_to "Top performers",top_path %></span>
  <span><%= link_to 'Books',books_path %></span>
  <span> <%= link_to " Today's challenge",todayschallenge_path %></span>
   <% if logged_in? %>
        <span class="side btn"> <i class="fa-solid fa-star"></i> Points: <%= up.points %> </span>
      <% else %>
        <span class="side btn"><i class="fa-solid fa-user-plus"></i> <%= link_to 'Signup',signup_path %> </span>
        <span class="side btn"><i class="fa-solid fa-lock"></i> <%= link_to 'Login',login_path %></span>
  <% end %>
</div>
